################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjetoIDS002-SI/FileContentIndex/379c2ba4-eb7e-4844-91f2-cda8807943b2.vsidx
